<div class="body">
  <!---------------------------------DESCRIPCION DE PRODUCTO---------------------------------->
  <div class="descripcion_producto">
    <div id="miniaturas_imagenes">
      <div id="imgMini"><!--img src="assets/productPhotos/product1.png" alt="imgs"--></div>
      <div id="imgMini"><!--img src="assets/productPhotos/product1.png" alt="imgs"--></div>
      <div id="imgMini"><!--img src="assets/productPhotos/product1.png" alt="imgs"--></div>
    </div>
    <div id="principal_imagen">
      <div id="imagenPrincipal">
        <!--IMAGEN!!!-->
      </div>
    </div>
    <div id="descripcion_imagen">
      <div id="titulo">

      </div>
      <div id="calificacion">

      </div>
      <div id="fecha">

      </div>
      <div id="precio">

      </div>
      <div id="descripcion">

      </div>
      <div id="carrito">

      </div>
    </div>
  </div>
  <br>
  <!---------------------------------DETALLES DE VENDEDOR---------------------------------->
  <div class="detalles_vendedor">
    <div id="tituloDetalles">

    </div>
    <div id="destallesV">

    </div>
    <div id="calificacionV">

    </div>
  </div>
  <br>
  <!--------------------------------------COMENTARIOS--------------------------------------->
  <div class="comentarios">

  </div>


</div>