// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables #003057 **/
:root {
  /** transparent **/
  --ion-color-transparent: transparent;
  --ion-color-transparent-rgb: transparent;
  --ion-color-transparent-contrast: transparent;
  --ion-color-transparent-contrast-rgb: transparent;
  --ion-color-transparent-shade: transparent;
  --ion-color-transparent-tint: transparent;

  /** poli **/
  --ion-color-poli: #003057;
  --ion-color-poli-rgb: 56, 128, 255;
  --ion-color-poli-contrast: #ffffff;
  --ion-color-poli-contrast-rgb: 255, 255, 255;
  --ion-color-poli-shade: #00233f;
  --ion-color-poli-tint: #026dc5;

  /** polidos **/
  --ion-color-polidos: #0d3353;
  --ion-color-polidos-rgb: 56, 128, 255;
  --ion-color-polidos-contrast: #ffffff;
  --ion-color-polidos-contrast-rgb: 255, 255, 255;
  --ion-color-polidos-shade: #0d3353;
  --ion-color-polidos-tint: #0d3353;

  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

.ion-color-poli {
  --ion-color-base: var(--ion-color-poli) !important;
  --ion-color-base-rgb: var(--ion-color-poli-rgb) !important;
  --ion-color-contrast: var(--ion-color-poli-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-poli-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-poli-shade) !important;
  --ion-color-tint: var(--ion-color-poli-tint) !important;
}

.ion-color-polidos {
  --ion-color-base: var(--ion-color-polidos) !important;
  --ion-color-base-rgb: var(--ion-color-polidos-rgb) !important;
  --ion-color-contrast: var(--ion-color-polidos-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-polidos-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-polidos-shade) !important;
  --ion-color-tint: var(--ion-color-polidos-tint) !important;
}

.ion-color-transparent {
  --ion-color-base: var(--ion-color-transparent) !important;
  --ion-color-base-rgb: var(--ion-color-transparent-rgb) !important;
  --ion-color-contrast: var(--ion-color-transparent-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-transparent-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-transparent-shade) !important;
  --ion-color-tint: var(--ion-color-transparent-tint) !important;
}
