<ion-header>
  <ion-toolbar>
    <ion-title>
      Carrito de compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart()">
  <div *ngIf="!userLogged" style=" width: 100%; height: 100%;">
    <img src="assets/system/carrito.png" alt="No hay usuario logueado" class="img-carrito" />
  </div>
  <div *ngIf="userLogged">
    <ion-item class="item-titulos">
      <ion-label>
        <h2>Carrito de compras</h2>
      </ion-label>
    </ion-item>
    <ion-item-divider lines="full" class="item-titulos-precio" sticky>
      <ion-label>
        <h3>Total:({{ productosCarrito.length }} Productos): ${{ precioTotal }}</h3>
      </ion-label>
      <ion-button slot="end" size="small" class="comprar">Comprar</ion-button>
    </ion-item-divider>
    <div *ngIf="productosCarrito.length">
      <div *ngFor="let producto of productosCarrito">
        <ion-item-sliding>
          <ion-item lines="none" class="producto">
            <ion-note slot="start">
              <ion-avatar style="width: 50px; height: 50px;">
                <img src="{{ producto.urlCarpetaImagenes }}/p1.png" alt="ImagenProducto" width="100%" />
              </ion-avatar>
            </ion-note>

            <ion-label>
              <h2>{{ producto.nombreProducto }}</h2>
              <h3>
                <b>${{ producto.valor }}</b> c/u
              </h3>
              <p>{{ producto.nombreVendedor }}</p>

              <ion-chip class="btns-add-cart" (click)="sumProducto(-1, producto)">
                <b>-</b>
              </ion-chip>

              <ion-chip outline="true" class="btns-add-cart-number">
                {{ producto.cantidad }}
              </ion-chip>

              <ion-chip class="btns-add-cart" (click)="sumProducto(1, producto)">
                <b>+</b>
              </ion-chip>

              <ion-chip color="danger" (click)="confirmarEliminacion(producto)" class="btns-add-cart-number delete">
                <ion-icon name="trash"></ion-icon>
                <ion-label>Eliminar</ion-label>
              </ion-chip>
            </ion-label>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item-divider></ion-item-divider>
      </div>
    </div>
    <div *ngIf="!productosCarrito.length" style=" width: 100%; height: 100%;">
      <img src="assets/system/carrito.png" alt="No hay usuario logueado" class="img-carrito" />
    </div>
  </div>
</ion-content>
