<ion-header>
  <ion-toolbar>
    <ion-title>
      Carrito de compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Arrastrar para refrescar"
      refreshingSpinner="circles"
      refreshingText="Cargando..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="!settedCarrito" style=" width: 100%; height: 100%;">
    <img src="assets/system/carrito.png" alt="No hay usuario logueado" class="img-carrito" />
  </div>
  <div *ngIf="settedCarrito">
    <ion-item class="item-titulos">
      <ion-label>
        <h2>Carrito de compras</h2>
      </ion-label>
    </ion-item>
    <ion-item-divider lines="full" class="item-titulos-precio" sticky>
      <ion-label>
        <h3>
          Total:({{ observablePolishop.productosCarrito.length }} Productos):
          {{ observablePolishop.precioTotal | currency: "USD":"symbol":"1.0-0" }}
        </h3>
      </ion-label>
      <div class="buttonRealizarCompra" id="paypal-button" slot='end'></div>
      <!--ion-button slot="end" size="small" class="comprar" *ngIf="observablePolishop.productosCarrito.length" (click)="realizarCompra()">
        Comprar
      </ion-button-->
    </ion-item-divider>
    <div *ngIf="observablePolishop.productosCarrito.length">
      <div *ngFor="let producto of observablePolishop.productosCarrito" class="card-item-producto">
        <ion-item-sliding class="ion-activatable">
          <ion-item lines="none" class="producto">
            <ion-note slot="start">
              <ion-avatar class="img-animation">
                <img src="{{ producto.urlCarpetaImagenes }}/p1.png" alt="ImagenProducto" width="100%" />
              </ion-avatar>
            </ion-note>

            <ion-label>
              <h2 (click)="goProduct(producto)">{{ producto.nombreProducto }}</h2>
              <h3 (click)="goProduct(producto)">
                <b>{{ +producto.valor | currency: "USD":"symbol":"1.0-0" }}</b> c/u
              </h3>
              <p (click)="goProduct(producto)">{{ producto.nombreVendedor }}</p>

              <ion-chip class="btns-add-cart" (click)="sumProducto(-1, producto)">
                <b style="font-size: 18px;">-</b>
              </ion-chip>

              <ion-chip outline="true" class="btns-add-cart-number">
                {{ producto.cantidad }}
              </ion-chip>

              <ion-chip class="btns-add-cart" (click)="sumProducto(1, producto)">
                <b>+</b>
              </ion-chip>

              <ion-chip color="danger" (click)="confirmarEliminacion(producto)" class="btns-add-cart-number delete">
                <ion-icon name="trash"></ion-icon>
                <ion-label>Eliminar</ion-label>
              </ion-chip>
            </ion-label>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-item-sliding>
        <ion-item-divider></ion-item-divider>
      </div>
    </div>
    <div *ngIf="!observablePolishop.productosCarrito.length" style=" width: 100%; height: 100%;">
      <img src="assets/system/carrito.png" alt="No hay usuario logueado" class="img-carrito" />
    </div>
  </div>
</ion-content>
