/*-------------------------------------------------HEADER UNO----------------------------------------------------*/
.header_uno{
    width: 100%;
    height: 135px;
    background-color: #0F385A;
}
.img_logo_container{
    width: 14.8%;
    height: 80px;
    background-color: #0F385A;
    float: left;
    margin-top: 27.5px;
    margin-right: 3.4%;
    margin-left: 6%;
}
.input_buscar{
    width: 32.5%;
    height: 39px;
    float: left;
    margin-top: 48px;
    margin-right: 0.07%;
    margin-left: 5.6%;
}
#in-buscar{
    width: 100%;
    height: 100%;
    border: 0px solid transparent;
    font-size: 17px;
    padding-left: 5%;
    padding-right: 2%;
    background-color: white;
}
.button_buscar{
    width: 64px;
    height: 39px;
    background-color: white;
    float: left;
    margin-top: 47px;
    margin-right: 2x.7%;
}
#btn-buscar{
    width: 60px;
    height: 100%;
    padding: 0px;
    color: #7C7C7C;
}
.button_ingresar{
    width: 11%;
    height: 41px;
    background-color: #0F385A;
    float: left;
    margin-top: 47px;
    margin-left: 2.7%;
    margin-right: 0.74%;
}
#btn-ingresar{
    width: 100%;
    height: 100%;
    font-family: Arial;
    font-size: 17px;
    color: white;
    border-radius: 0px;
}
.button_carrito{
    width: 7.4%;
    height: 60px;
    background-color: #0F385A;
    float: left;
    margin-top: 41px;
    margin-left: 1.11%;
}
.iconn{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 10px;
    font-size: 40px;
    margin: auto;
}
#icon-btn{
    color: white;
    border: 0px solid transparent;
    outline: none;
    border-radius: 0px;
}

/*-------------------------------------------------HEADER DOS----------------------------------------------------*/

.header_dos{
    width: 100%;
    height: 50px;
    background-color: #0F385A;
    margin: auto;
}
.lista_categorias{
    width: 17%;
    height: 100%;
    background-color: #0F385A;
    float: left;
    margin-left: 23.9%;
    font-family: arial;
    color: white;
}
.vender{
    width: 17%;
    height: 100%;
    background-color: #0F385A;
    float: left;
    margin-right: 0.22%;
    margin-left: 0.22%; 
    font-family: arial;
    color: white;
}
.ayuda{
    width: 17%;
    height: 100%;
    background-color: #0F385A;
    float: left;
    font-family: arial;
    color: white;
}
#lis-categorias, #men-vender, #men-ayuda{
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: white;
    border: 0px solid transparent;
    outline: none;
    border-radius: 0px;
}
.lista_categorias :hover, .vender :hover, .ayuda :hover,
.button_ingresar :hover, .button_carrito :hover { /*Color de botones cuando pasa el mouse*/
    background-color: #3FA8D9;
}
.cdk-overlay-pane {
    width: 100%!important;
}
.mat-menu-panel.dropdownn{
    max-width:none;
    width: 28.8%; 
    margin: auto;
}
#categorias_parent{
    width: 98.52%;
    height: 420px;
    margin: 0% 0.74% 0% 0.74%;
}
#categorias-container{
    width: 90%;
    margin: 0% 0% 0% 10%
}

/*-------------------------------------------------FOOTER----------------------------------------------------*/

.footer{
    background-color: #0F385A;
    height: 250px;
}

/*-------------------------------------------------LOGIN-----------------------------------------------------*/

#modalBody{
    width: 80%;
    margin: auto;
}
.matLogin{
    width: 100%;
}