<!-------------------------------------------------HEADER UNO---------------------------------------------------->
<div class='header_uno'>
  <div class='img_logo_container'>
    <img src="assets/system/LogoHeader.png" alt="logo_header" width="180px">
  </div>
  <div class='input_buscar'>
    <input matInput  placeholder="Buscar" type="text" id="in-buscar">
  </div>
  <div class='button_buscar'>
    <button mat-button id='btn-buscar'>
        <mat-icon aria-label="Example icon-button with a heart icon">search</mat-icon>
    </button>
  </div>
  <div class='button_ingresar'>
    <button mat-button class="btn btn-outline-primary" id='btn-ingresar'>
        <mat-icon aria-label="Example icon-button with a heart icon">person</mat-icon>
        <b>INGRESAR</b>
    </button>
  </div>
  <div class='button_carrito'>
      <button type="button" class="btn btn-outline-primary" id='icon-btn'>
        <mat-icon aria-label="Example icon-button with a heart icon" class="iconn">shopping_cart</mat-icon>    
      </button>
  </div>
</div>
<!-------------------------------------------------HEADER DOS---------------------------------------------------->
<div class='header_dos'>
  <div class='lista_categorias'>
    <button type="button" class="btn btn-outline-primary" [matMenuTriggerFor]="menu1" id='lis-categorias'><b>LISTA CATEGORÍAS</b></button>
    <mat-menu #menu1="matMenu" class="dropdownn">
      <div id = 'categorias_parent' class="row notification-row">
        <mat-nav-list>
          <div id="categorias-container">
            <a mat-list-item href="/login" *ngFor="let categoria of categorias" > {{categoria.nombre}} </a>
          </div>
        </mat-nav-list>
      </div>
    </mat-menu>
  </div>
  <div class='vender'>
    <button type="button" class="btn btn-outline-primary" [matMenuTriggerFor]="menu2" id='men-vender'><b>VENDER</b></button>
    <mat-menu #menu2="matMenu" class="dropdownn">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
  <div class='ayuda'>
    <button type="button" class="btn btn-outline-primary" [matMenuTriggerFor]="menu3" id='men-ayuda'><b>AYUDA</b></button>
    <mat-menu #menu3="matMenu" class="dropdownn">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
</div>
<!--------------------------------------------BODY--------------------------------------------------------->
<div class='body'>
  <!----------------CARRUSEL GRANDE DE PRODUCTOS PRICIPALES---------------->
  <div id="carrusel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" id='carrusel1'>
        <!--img src="{{imagenesCarrusel[0]}}" class="d-block w-100" alt="..." id='img1'-->
      </div>
      <div class="carousel-item" id='carrusel2'>
        <!--img src="{{imagenesCarrusel[1]}}" class="d-block w-100" alt="..." id='img2'-->
      </div>
      <div class="carousel-item" id='carrusel3'>
        <!--img src="{{imagenesCarrusel[2]}}" class="d-block w-100" alt="..." id='img3'-->
      </div>
    </div>
    <a class="carousel-control-prev" href="#carrusel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carrusel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br>
  <!----------------CARRUSEL PRODUCTOS PRICIPALES DEL POLI---------------->
  <br>
  <div id="carruselPoli" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div id='big-carrusel-poli'>
          <div id='left-car'>
            <!--Componente de miniatura-->
          </div>
          <div id='center-car'>
            <!--Componente de miniatura-->
          </div>
          <div id='rigth-car'>
            <!--Componente de miniatura-->
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div id='big-carrusel-poli'>
          <div id='left-car'>
            <!--Componente de miniatura-->
          </div>
          <div id='center-car'>
            <!--Componente de miniatura-->
          </div>
          <div id='rigth-car'>
            <!--Componente de miniatura-->
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div id='big-carrusel-poli'>
          <div id='left-car'>
            <!--Componente de miniatura-->
          </div>
          <div id='center-car'>
            <!--Componente de miniatura-->
          </div>
          <div id='rigth-car'>
            <!--Componente de miniatura-->
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carruselPoli" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carruselPoli" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br>
  <!----------------CARRUSEL PRODUCTOS PRINCIPALES DE COMUNIDAD---------------->
  <br>
  <div id="carruselOtros" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div id='big-carrusel-otros'>
          <div id='left-car'>
            <!--Componente de miniatura-->
          </div>
          <div id='center-car'>
            <!--Componente de miniatura-->
          </div>
          <div id='rigth-car'>
            <!--Componente de miniatura-->
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div id='big-carrusel-otros'>
          <div id='left-car'>
            <!--Componente de miniatura-->
          </div>
          <div id='center-car'>
            <!--Componente de miniatura-->
          </div>
          <div id='rigth-car'>
            <!--Componente de miniatura-->
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div id='big-carrusel-otros'>
          <div id='left-car'>
            <!--Componente de miniatura-->
          </div>
          <div id='center-car'>
            <!--Componente de miniatura-->
          </div>
          <div id='rigth-car'>
            <!--Componente de miniatura-->
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carruselOtros" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carruselOtros" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<!--------------------------------------------FOOTER--------------------------------------------------------->
<div class='footer'>

</div>