<!-------------------------------------------------HEADER UNO---------------------------------------------------->
<div class='header_uno'>
  <div class='img_logo_container'>
    <img src="assets/system/LogoHeader.png" alt="logo_header" width="180px">
  </div>
  <div class='input_buscar'>
    <input matInput  placeholder="Buscar" type="text" id="in-buscar">
  </div>
  <div class='button_buscar'>
    <button mat-button id='btn-buscar'>
        <mat-icon aria-label="Example icon-button with a heart icon">search</mat-icon>
    </button>
  </div>
  <div class='button_ingresar'>
    <button mat-button class="btn btn-outline-primary" id='btn-ingresar'>
        <mat-icon aria-label="Example icon-button with a heart icon">person</mat-icon>
        <b>INGRESAR</b>
    </button>
  </div>
  <div class='button_carrito'>
      <button type="button" class="btn btn-outline-primary" id='icon-btn'>
        <mat-icon aria-label="Example icon-button with a heart icon" class="iconn">shopping_cart</mat-icon>    
      </button>
  </div>
</div>
<!-------------------------------------------------HEADER DOS---------------------------------------------------->
<div class='header_dos'>
  <div class='lista_categorias'>
    <button type="button" class="btn btn-outline-primary" [matMenuTriggerFor]="menu1" id='lis-categorias'><b>LISTA CATEGORÍAS</b></button>
    <mat-menu #menu1="matMenu" class="dropdownn">
      <div id = 'categorias_parent' class="row notification-row">
        <mat-nav-list>
          <div id="categorias-container">
            <a mat-list-item href="/login" *ngFor="let categoria of categorias" > {{categoria.nombre}} </a>
          </div>
        </mat-nav-list>
      </div>
    </mat-menu>
  </div>
  <div class='vender'>
    <button type="button" class="btn btn-outline-primary" [matMenuTriggerFor]="menu2" id='men-vender'><b>VENDER</b></button>
    <mat-menu #menu2="matMenu" class="dropdownn">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
  <div class='ayuda'>
    <button type="button" class="btn btn-outline-primary" [matMenuTriggerFor]="menu3" id='men-ayuda'><b>AYUDA</b></button>
    <mat-menu #menu3="matMenu" class="dropdownn">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
</div>
<!--------------------------------------------BODY--------------------------------------------------------->
<router-outlet></router-outlet>
<!--------------------------------------------FOOTER--------------------------------------------------------->
<div class='footer'>

</div>