/*-------------------------------------------------BODY----------------------------------------------------*/
.body{
    height: 1230px;
}
#carrusel{
    width: 100%;
    height: 500px;
    background-color: rgba(182, 182, 182, 0.314);
}
#img1, #img2, #img3{ /*Imagenes de gran carrusel (no se usan por ahora)*/
    height: 500px;
}
#carruselPoli{
    background-color: #EEEEEE;
}
#big-carrusel-poli{ 
    width: 88%; /***************/
    height: 280px;
    margin: auto;
}
#element-carrusel-peq{ /*Elementos de carrusel Poli y otros*/
    width: 31.47%;
    height: 230px;
    float: left;
    background-color: #0F385A;
    margin: 25px 10px 25px 10px;
    color: white;
}
#carruselOtros{
    background-color: #EEEEEE;
}
#big-carrusel-otros{
    width: 100%;
    height: 280px;
}
.carousel-control-prev { /*Modificar el ícono de control de carrusel izquierdo*/
    position: absolute;
    top: 35%;
    bottom: 35%;
    left: 5px;
    width: 5%;
    background-color: #C6C6C650;
}
.carousel-control-prev-icon{
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ACACAC' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next { /*Modificar el ícono de control de carrusel Derecho*/
    position: absolute;
    top: 35%;
    bottom: 35%;
    right: 5px;
    width: 5%;
    background-color: #C6C6C650;
}
.carousel-control-next-icon{
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ACACAC' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.titulosCarrusel{
    color: #0F385A;
    padding: 1.5% 0% 1.5% 4%;
    font-size: 17px;
}