<div class='body'>
  <!----------------CARRUSEL GRANDE DE PRODUCTOS PRICIPALES---------------->
  <div id="carrusel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" id='carrusel2'></div>
      <div class="carousel-item" *ngFor="let producto of productos" >
        <div id='carrusel'>
          <app-producto-principal-slider [mySelectedProducto]="producto"></app-producto-principal-slider>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carrusel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carrusel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!----------------CARRUSEL PRODUCTOS PRICIPALES DEL POLI---------------->
  <h6 class="titulosCarrusel"><b>-- PRINCIPALES PRODUCTOS POLI</b></h6>
  <div id="carruselPoli" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div id='big-carrusel-poli'>
          <div id='element-carrusel-peq'><!----></div>
          <div id='element-carrusel-peq'><!----></div>
          <div id='element-carrusel-peq'><!----></div>
        </div>
      </div>
      <div class="carousel-item" *ngFor = "let row of matrizPrincipales">
        <div id='big-carrusel-poli'>
          <div id='element-carrusel-peq' *ngFor = "let col of row">
            <app-producto-principal-pequeno [mySelectedProducto]="col"></app-producto-principal-pequeno>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carruselPoli" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carruselPoli" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!----------------CARRUSEL PRODUCTOS PRINCIPALES DE COMUNIDAD---------------->
  <h6 class="titulosCarrusel"><b>-- PRINCIPALES PRODUCTOS COMUNIDAD</b></h6>
  <div id="carruselOtros" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div id='big-carrusel-poli'>
          <div id='element-carrusel-peq'><!----></div>
          <div id='element-carrusel-peq'><!----></div>
          <div id='element-carrusel-peq'><!----></div>
        </div>
      </div>
      <div class="carousel-item" *ngFor = "let row of matrizPrincipales">
        <div id='big-carrusel-poli'>
          <div id='element-carrusel-peq' *ngFor = "let col of row">
            <app-producto-principal-pequeno [mySelectedProducto]="col"></app-producto-principal-pequeno>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carruselOtros" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carruselOtros" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>