.background-login {
  width: 100%;
  height: 30%;
  background-image: url("/../assets/system/backgroundLogin.png");
  background-size: cover;
}

.input-login {
  width: 80%;
  margin: auto;
  margin-top: 5%;
}

.btn-login-ingresar {
  width: 60%;
  margin: 5% 0% 0% 20%;
}

.olvido-login {
  width: 65%;
  margin: auto;
  margin-top: 3%;
}
