.example-card {
  max-width: 75%;
}

.example-header-image {
  background-size: cover;
}

.mat-card-avatar {
  height: 55px;
  width: 55px;
}

#headercard {
  margin: 2% 0% 0% 2.3%;
  color: #0f385a;
}

#cabecera {
  width: 100%;
  float: left;
}

#nombreComprador {
  width: 100%;
  float: left;
}

#calificacion {
  width: 50%;
  float: left;
  margin: 0% 0% 5% 0%;
}

#fecha {
  width: 30%;
  float: left;
  padding: 0.7% 0% 0% 3%;
}

#comentario {
  margin: 1% 35% 2.5% 11.7%;
}

#calificacion {
  width: 98%;
  margin: 0.3% 0% 0% 0%;
}

#texto-calificacion {
  float: left;
  margin-top: 0.8%;
  margin-right: 1%;
  margin-left: 2%;
  color: #0f385a;
}

#calificacion-comentario {
  float: left;
  width: 30%;
  margin-top: 0.3%;
  margin-left: 2%;
}

#calificacionComentario {
  height: "30%";
  width: "60%";
}
