.complete_producto{
    width: 100%;
    height: 100%;
}
.imagen_producto{
    width: 60%;
    height: 100%;
    float: left;
}
#imagen{
    width: 90%;
    height: 72%;
    margin: 8% 0% 9% 5%;
}
.descripcion_producto{
    width: 40%;
    height: 100%;
    float: left;
}
#nombreProducto{
    width: 100%;
    height: 30%;
    float: left;
}
#nombre{
    font-size: 30px;
    margin: 15.3% 0% 0% 0%;
}
#descripcionProducto{
    width: 100%;
    height: 70%;
    float: left;
}
#descripcion{
    font-size: 20px;
    padding: 2% 12% 2% 0%;
}
